<div class="container-fluid basic-layout">
  <!-- . . . . . . . . . . . . . . . . . . . . . . . . . -->
  <header class="row-fluid">
    <div class="span12">
      <h1>Page title</h1>
    </div>
  </header>

  <!-- . . . . . . . . . . . . . . . . . . . . . . . . . -->
  <div class="row-fluid" id="page-description">
    <div class="span12">
      Page description
    </div>
  </div>

  <!-- . . . . . . . . . . . . . . . . . . . . . . . . . -->
  <div class="row-fluid" id="page-content">
    <div class="span10 offset1" role="main">
      <p>Page content</p>
    </div>
  </div>

</div>
