<div class="lesson">
  <div class="row-fluid lesson-rating">
    <div class="span12">
      &#9733; &#9733; &#9733; &#9734; &#9734; 
    </div> <!-- .span12 -->
  </div> <!-- .lesson-rating -->
  <div class="row-fluid lesson-content">
    <div class="span12">
      <a href="https://github.com/bryanesmith/sample-ng-app" class="btn btn-primary btn-large" style="float: right">View on <strong>GitHub</strong></a>
      <h2>{{lessonName}}</h2>
      <section>
        <h3>Overview</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pulvinar massa quis pulvinar fermentum. Nunc feugiat non neque vitae consequat. Donec lorem orci, congue eget lacinia sit amet, bibendum eu ante. Suspendisse ullamcorper nibh dui, quis accumsan purus luctus eget. Aliquam eget diam lorem. Morbi tempor erat nec varius facilisis. Duis sit amet turpis vitae lorem porta hendrerit ut sed orci. Aliquam erat volutpat. Sed bibendum euismod magna, sed pharetra justo lacinia eu.</p>
      </section>

      <section>
        <h3>Learning Goals</h3>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li>Suspendisse pulvinar massa quis pulvinar fermentum.</li>
          <li>Nunc feugiat non neque vitae consequat.</li>
          <li>Sed bibendum euismod magna, sed pharetra justo lacinia eu.</li>
        </ul>
      </section>

      <section>
        <h3>Key Terms</h3>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li>Suspendisse pulvinar massa quis pulvinar fermentum.</li>
          <li>Nunc feugiat non neque vitae consequat.</li>
          <li>Sed bibendum euismod magna, sed pharetra justo lacinia eu.</li>
        </ul>
      </section>

      <section>
        <h3>Essential Ideas</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pulvinar massa quis pulvinar fermentum. Nunc feugiat non neque vitae consequat. Donec lorem orci, congue eget lacinia sit amet, bibendum eu ante. Suspendisse ullamcorper nibh dui, quis accumsan purus luctus eget. Aliquam eget diam lorem. Morbi tempor erat nec varius facilisis. Duis sit amet turpis vitae lorem porta hendrerit ut sed orci. Aliquam erat volutpat. Sed bibendum euismod magna, sed pharetra justo lacinia eu.</p>
      </section>
    </div> <!-- .span12 -->
  </div> <!-- .lesson-content -->
</div> <!-- .lesson -->
